@font-face {
    font-family: 'Celtic';
    src: url('../fonts/CELTG.TTF') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Minecraftia-Regular';
    src: url('../fonts/Minecraftia-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OldNewspaperTypes';
    src: url('../fonts/OldNewspaperTypes.ttf') format('truetype');
    font-display: swap;
}

/* Add classes for other fonts */
.font1 {
    font-family: 'Minecraftia-Regular', sans-serif;
    font-size-adjust: 0.89; /* Adjust this value to scale the font */
}

.font2 {
    font-family: 'OldNewspaperTypes', sans-serif;
}

html {
    font-size: 21px; /* Base font size */
}

body {
    font-family: 'Celtic', sans-serif;
    background-color: #000000;
    color: antiquewhite;
    text-shadow: 1px 1px 5px #000000;
    background-image: url("../img/grapes.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(8px);
    height: 100%;
    min-height: 96vh;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

input[type=text], input[type=password], input[type=email], input[type=search], input[type=number], textarea, select, .textarea {
    background-color: rgba(250, 235, 215, 0.254);
    color: rgb(255, 255, 255);
    text-align: center;
}

input[type=search], input[type=number] {
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

li {
    background-color: #ffffff0f;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}


select {
    background-color: rgba(250, 235, 215, 0.254);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

select option {
    color:#000000;
    border-radius: 5px;
}

section {
    margin-top: 20px;
    padding: 20px;
    width: 90%;
    text-align: center;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    background-color: #00000058;
}

.divme {
    text-align: center;
    padding-right: 20px;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    background-color: #ffffff25;
}

header nav {
    justify-content: space-between;
    background-color: #1a1a1a5f;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

table, th, td {
    border: 1px solid  rgba(250, 235, 215, 0.12);
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff0a;
}

#scrollable-table thead th {
    position: sticky;
    top: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.944), transparent);
    z-index: 1; /* Ensure the header stays above the scrolling content */
}

/* CSS to remove the border on the last column of the header row */
#scrollable-table thead th:last-child {
    border-right: none;
}

.topspace {
    margin-top: 20px;
}

a {
    color: rgb(247, 213, 169);
    text-decoration:underline;
}

a:hover {
    color: rgb(209, 160, 97)
}

@media (min-width: 750px) {
    section {
        margin-left: 11vw;
        max-width: 63vw;
        backdrop-filter: blur(8px);
        border-radius: 10px;
        background-color: #00000058;
    }
}