{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block content %}
<h3>Our customers:</h3>
<input type="search" placeholder="search filter" id="search_input">
<ol>
    {% for customer in customers %}
        <li>
            <h5>{{ customer.username }}</h5>
            {% if customer.first_name and customer.last_name %}
                <p><em>Full name:</em> {{ customer.first_name }} {{ customer.last_name }}</p>
            {% endif %}
            {% with customer.userorders.all as orders %}
                {% if not orders %}
                    <p><em>No orders yet.</em></p>
                {% else %}
                    <p><a href="{% url 'shop:orders' %}?customer={{customer.id}}"><em>total Orders:</em> {{ orders.count }}</a><br>
                    {% with orders|state_filtered as pendings %}
                        {% if pendings %}
                            <a href="{% url 'shop:orders' %}?state=0&customer={{customer.id}}"><em>pending Orders:</em> {{ pendings|length }}</a><br>
                        {% endif %}
                    {% endwith %}
                    {% with orders|state_filtered:1 as wishlists %}
                        {% if wishlists %}
                            <a href="{% url 'shop:orders' %}?state=1&customer={{customer.id}}"><em>wishlist Orders:</em> {{wishlists|length}}</a><br>
                        {% endif %}
                    {% endwith %}
                    {% with orders|state_filtered:2 as purchases %}
                        {% if purchases %}
                            <a href="{% url 'shop:orders' %}?state=2&customer={{customer.id}}"><em>purchased Orders:</em> {{purchases|length}}</a><br>
                        {% endif %}
                    {% endwith %}
                    </p>
                {% endif %}
            {% endwith %}
            <a class="btn btn-outline-light" href= "mailto: {customer.email}">Contact</a>
        </li>
    {% endfor %}
</ol>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var search_input = document.getElementById("search_input");
        // if there is a search parameter in url, set the search input value to it
        search_val = window.location.search.split("?search=")[1];
        if (search_val) {
            search_input.value = search_val;
            // set search_input active
            search_input.focus();
        }
        // if the search input changes, reload the page with the new search
        search_input.addEventListener("input", function() {
            var search = search_input.value.toLowerCase();
            window.location.href = "{% url 'shop:customers' %}?search=" + search;
        });
    });
</script>
{% endblock %}